.search-form__input {
  width: 100%;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  box-sizing: border-box;
  padding: 0;
  border: none;
  background-color: transparent;
}

.search-form__input::placeholder {
  color: #8B8B8B;
}

.search-form__input:focus {
  outline: none;
}

.search-form__input:focus::placeholder {
  color: transparent;
}

.search-form__input::-ms-clear,
.search-form__input::-ms-reveal {
  display: none;
  width: 0;
  height: 0; 
}

.search-form__input::-webkit-search-decoration,
.search-form__input::-webkit-search-cancel-button,
.search-form__input::-webkit-search-results-button,
.search-form__input::-webkit-search-results-decoration {
  display: none; 
}

@media screen and (max-width: 760px) {
  .search-form__input {
    font-size: 16px;
  }
}

@media screen and (max-width: 480px) {
  .search-form__input {
    font-size: 14px;
  }
}