.portfolio {
  padding: 110px 0;
}

@media screen and (max-width: 990px) {
  .portfolio {
    padding: 90px 0;
  }
}

@media screen and (max-width: 760px) {
  .portfolio {
    padding: 70px 0;
  }
}

@media screen and (max-width: 480px) {
  .portfolio {
    padding-bottom: 50px;
  }
}