.profile-form__input-label {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  height: 30px;
  font-size: 11px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 15px;
  border-bottom: 1px solid #424242;
}

.profile-form__input-label:last-of-type {
  height: auto;
  margin-bottom: 0;
  border-bottom: none;
}