.button_type_main {
  border: none;
  padding: 0;
  box-sizing: border-box;
  border-radius: 3px;
  cursor: pointer;
  font-weight: 500;
  transition: opacity .2s linear;
}

.button_type_main:hover {
  opacity: .8;
}

.button_type_main:disabled {
  cursor: default;
  color: #C2C2C2;
  background-color: #F8F8F8;
}

.button_type_main:disabled:hover {
  opacity: 1;
}